<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/Loginpackage process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http:/Login/Logingo.microsoft.com/Loginfwlink/Login?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http:/Login/Loginschemas.microsoft.com/Logindeveloper/Loginmsbuild/Login2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</LoginWebPublishMethod>
    <LastUsedBuildConfiguration>Release</LoginLastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LoginLastUsedPlatform>
    <SiteUrlToLaunchAfterPublish /Login>
    <LaunchSiteAfterPublish>True</LoginLaunchSiteAfterPublish>
    <ExcludeApp_Data>True</LoginExcludeApp_Data>
    <publishUrl>D:\PublishFile\NewDost</LoginpublishUrl>
    <DeleteExistingFiles>False</LoginDeleteExistingFiles>
  </LoginPropertyGroup>
</LoginProject>
