@model Dost.Models.Wallet

@{
    ViewBag.Title = "TransferEwalletToEwallet";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("TransferEwalletToEwallet", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, welcome back!</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/User/Wallet">Wallet/Transfer</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transfer</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Mobile No. </label>
                                            @Html.TextBoxFor(m => m.EwalletBalance, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Mobile No. <span class="text-danger">*</span>  <span id="txtname" class="text-danger pull-right"></span></label>
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @maxlength = "10", @Placeholder = "Mobile No", @onchange = "getmembername(this);", @onkeypress = "return isNumberKey(event);" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Amount <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 text-right">
                                        <div class="mb-3">
                                            <input class="btn btn-primary mb-2 px-5" onclick="return validateform()" type="submit" value="Transfer" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#EwalletBalance').val() == '0') {
            $("#EwalletBalance").addClass('errortext');
            $('#EwalletBalance').focus();
            return false;
        }
        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#Amount').val() == '0') {
            $('#Amount').val('');
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
    }
    function getmembername() {
        var MobileNo = $('#MobileNo').val();
        $.ajax({
            url: '/Wallet/GetMemberNameByMobileNo',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: MobileNo },
            success: function (data) {
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);
                    divname.style.display = "block";
                } else {
                    $(document).ready(function () {
                        toastr.error("Invalid Login Id ", "Top Right", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                )
                    $('#txtname').html("");
                    $('#MobileNo').val("");

                }
            }
        });
    }
</script>